* {
  margin: 0;
  padding: 0;
}

.container {
  background: rgb(202, 147, 44);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  background-color: rgb(136, 135, 135);
  min-width: 450px;
  min-height: 650px;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #000;
}
